<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
          <div class ="header">
        {{!>header}}
        <div class="header">
                <h1>{{title}}</h1>
      
    <a href="/about">About</a>
    <a href="/">Weather</a>
    </div>
        <p>{{errorMessage}}</p>  </div>
    </div>
    
 {{!>footer}}
<div class="footer">Created by:{{name}}</div>
</body>

</html>