<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
     <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    {{!>header}}
    <div class="header">
    <h1>{{title}}</h1>
    <a href="/about">About</a>
    <a href="/">Weather</a></div>
    <div class="main-content">
  <img class="portrait" src="/img/me.jpg">
    </div>
    {{!>footer}}
    <div class="footer">Created by:{{name}}</div>   
</body>
</html>